body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	font-family: 'Roboto', sans-serif;
	background-color: #f7f7f7;
}

h1 {
	margin: 0px 0px 1em;
}

form, .scont {
	margin: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	font-family: 'Roboto', sans-serif;
	background-color: #FFF;
	width: 40%;
	padding: 3em;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}

.form-content {
	width: 100%;
}

.icon { 
    padding: 0.7em; 
    color: #006191;
    text-align: center;
    position: absolute; 
} 

.icon2 { 
    padding: 0.7em 0.7em; 
    color: #006191;
    text-align: center;
    position: absolute; 
} 

.icon3 { 
    padding: 0;
    color: #006191;
    text-align: center;
    font-size: 5em;
} 

.success{
	text-align: center;
}

input[type=text], input[type=number]{
	font-family: 'Roboto', sans-serif;
	border-radius: 3px 3px 3px 3px;
	padding: 0.5em 0.5em 0.5em 2em;
	width: calc(100% - 2.5em);
	font-size: 1em;
}

input[type=submit]{
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	background-color: #006191;
	color: #FFF;
	padding: 1em;
	width: 100%;
	transition-duration: 0.2s;
	border: 0;
	font-size: 1em;
}

.containerx {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.containerx:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerx input:checked ~ .checkmark {
  background-color: #006191;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerx input:checked ~ .checkmark:after {
  display: block;
}

.containerx .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

input[type=submit]:hover{
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	background-color: #0071B1;
	color: #FFF;
	padding: 1em;
	width: 100%;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

a{
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	background-color: #bd0000;
	color: #FFF;
	padding: 1em;
	width: 25%;
	transition-duration: 0.2s;
	border: 0;
	margin-top: 2em;
}

a:hover{
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	background-color: #CC0000;
	color: #FFF;
	padding: 1em;
	width: 25%;
	border: 0;
	margin-top: 2em;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}